.SearchCard {
  
  margin: 10px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  h3{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
  }
  img{
    width: 120px;
  }
  ul{
    width: 100%;
    border-top: 1px solid #dbdbdb;
    list-style: none;
    padding: 20px;
    margin: 0;
    li {
      padding: 0 0 10px 0;
      &:last-child{
        padding: 0;
      }
      span{
        font-weight: 600;
      }
    }
  }
}